*.gem
.idea
*.rbc
*.dot
*.jpg
.bundle
.config
.yardoc
configurations.yml
wrong.yml
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
